@page "/"

<PageTitle>Index</PageTitle>

<h1>Contoso Bikes</h1>

<p>Welcome to Contoso Bikes, your premier destination for all things cycling! At Contoso Bikes, 
we're more than just a store; we're a community of passionate riders dedicated to enhancing your biking experience. 
Whether you're a seasoned cyclist seeking high-performance gear or a casual rider looking for a comfortable cruiser, 
we have a wide selection of bikes, accessories, and apparel to suit your needs. Our knowledgeable staff is here to assist you in finding the perfect bike, 
offer expert maintenance and repair services, and share the best local trails and routes for your next adventure. We take pride in offering top brands, the latest technology, and eco-friendly options to support your active 
lifestyle. Join us at Contoso Bikes and embark on a journey to explore the world on two wheels. Your cycling adventure begins here!</p>

